@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #52BDAA;
  --color-biccas: #54BD95;
  --color-links: #A6A6A6;
  --color-productivity: #191A15;
  --color-plans: #F9FAFB;
  --color-support: #F9F8FE;
  --color-ellipse: #6BC2A1;
  --color-pinkellipse: #FFD6D6;
  --color-save: #85DAB9;

}
body {
  font-family: var(--font-inter);
}


/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/